.score-change {
  height: 58px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.score-change .score-change-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-change .score-change-inner .icon {
  margin-left: 8px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}
